html, body{
  color: white;
  background-color: black;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.input{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: large;
  margin: 10px;
  justify-content: center;

}

.input > div > *{
  margin-inline: 10px;
}

.input > div{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: start;
}

button{
  margin: 10px;
  padding: 10px;
  font-size: large;
  border-radius: 10px;
  border: none;
  background-color: #1e90ff;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover{
  background-color: #6db5fd;
  color: white;
  transition: all 0.2s ease-in-out;
}

input{
  padding: 10px;
  font-size: large;
  border-radius: 10px;
  border: none;
  background-color: #1e90ff;
  color: white;
  transition: all 0.2s ease-in-out;
}